<header class="header">

  <a href="#" class="header__logo">
    <img src="/icons/01-logo-full-transparent.svg" alt="الشعار" />
  </a>

  <nav class="header__nav">
    <a href="#" class="nav-link">الرءيسية</a>
    <a href="#" class="nav-link">الخدمات</a>
    <a href="#" class="nav-link">المستشفيات</a>
    <a href="#" class="nav-link">العيادات</a>
    <a href="#" class="nav-link">الاخبار</a>
    <a href="#" class="nav-link">تسجيل الدخول</a>
    <a href="#" class="nav-link">احجز موعدك</a>
  </nav>
</header>
